/*Importar Fontes */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* fim Importar Fontes */


/* Config gerais sobre o corpo*/
header, nav, footer{
    display: flex;
    background: #ffffff;
}


/* Body*/
body{
    max-height: 120vh;
    flex: auto;
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header*/
header{
    flex: 1 1 100vh;
    background-color: #FFFBED;
}

header #Logo{
    flex: 0 1 200px;
    background-color: antiquewhite;
}
header img{
    margin: auto;
    display: block;
    width: 100px;
    height: 100px;
}
nav{
    max-height: 80px;
    flex: 1 1 100px;
    justify-content: flex-end;
    justify-content: center;
    align-items: center;
    background-color: #FFFBED;
    box-shadow: 0px 3px 4px 0px black;
}
nav a{
    margin: 5%;
    font-size: 15pt;
    
}
a{
    text-decoration: none;
    color: inherit;
}

/* Formulario*/
.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input, select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #D5917D;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #D5917D;
}

/* Animação */
.success-message {
    display: none;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.success-message.show {
    display: block;
    opacity: 1;
}

/* Footer*/
footer{
    background-color: #FFFBED;
    box-shadow: 0px -1px 4px 0px black;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    display: block;
    margin-top: 50px;
    
}
footer h1{
    text-align: center;
    font-family: pacifico;
    font-weight: 100;
    font-style: italic;
    padding-bottom: 10px;
}
div.infos p{
    text-align: center;
    padding-bottom: 10px;
}

div h3{
    font-family: pacifico;
    text-align: center;
}

div.infos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-style: normal;
}

div.footer-menu{
    color: black;
    padding: 3px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer li{
    list-style: none;
    width: fit-content;
}

footer li:hover{
    text-decoration: underline;
}
